@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    190 Elgin Avenue, George Town<br />
    Grand Cayman KY1-9001, Cayman Islands<br />
    <abbr title="Phone">P:</abbr>
    T +1 345 949 0100 F +1 345 949 7886
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@walkersglobal.com">Support@walkersglobal.com</a><br />
</address>
